---
# handlers file for roles/app

- name: restart nginx
  systemd:
    name: nginx
    state: restarted
    enabled: yes

- name: restart php-fpm
  systemd:
    name: php-fpm
    state: restarted
    enabled: yes

- name: restart filebeat
  systemd:
    name: filebeat
    state: restarted
    enabled: yes

- name: restart glusterfs 
  systemd:
    name: glusterd
    state: restarted
    enabled: yes